
body {
    background-color: rgb(19, 22, 26);
    width: auto;
    height: 100%;
    margin: 20px;
}

#view1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} #view1.fade-out {
    opacity: 0;
}

#view2 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 10%;
    transition: opacity 0.5s ease-in-out;
} #view2.appear {
    opacity: 1;
}

#view3 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#view4 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#view5 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#startButton {
    font-size: 20px;
    height: 80px;
    width: 250px;
    background-color: rgb(255, 25, 0);
    border-radius: 40px;
    opacity: 0.75;
    color: white;
    border-width: 5px;
    border-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
#startButton:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
}

#startButton:active {
    background-color: rgb(80, 228, 0);
    color: black;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.container {
    display: grid;
    grid-template-columns: auto auto;

}
.mainContainer {
    display: grid;
    grid-template-columns: 10% auto 10%;
}
#ProPic {
    height:500px;
    justify-content: center;
}