
body {
    background-color: rgb(19, 22, 26);
    width: auto;
    height: 100%;
    margin: 20px;
}

#view1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} #view1.fade-out {
    opacity: 0;
}

#view2 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
} #view2.appear {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} #view2.fade-out {
    opacity: 0;
}

#view3 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
} #view3.appear {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} #view3.fade-out {
    opacity: 0;
}

#view4 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
} #view4.appear {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} #view4.fade-out {
    opacity: 0;
}

#view5 {
    display: none;
    justify-content: center;
    align-items: center;
    height: 100vh;
}#view5.appear {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
} #view5.fade-out {
    opacity: 0;
}

h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}
p {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.container {
    display: grid;
    grid-template-columns: auto auto;

}
.mainContainer {
    display: grid;
    grid-template-columns: 10% auto 10%;
    height: 100vh;
}
#ProPic {
    height:500px;
    justify-content: center;
}

.nextViewButton {
    font-size: 20px;
    height: 60px;
    width: 100px;
    background-color: rgb(6, 82, 163);
    border-radius: 30px;
    opacity: 0.75;
    color: white;
    border-width: 5px;
    border-color: grey;
    font-family: Arial, Helvetica, sans-serif;
} .nextViewButton:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgb(0, 100, 210);
} .nextViewButton:active {
    background-color: rgb(80, 228, 0);
    color: black;
}

.prevViewButton {
    font-size: 20px;
    height: 60px;
    width: 100px;
    background-color: rgb(163, 6, 6);
    border-radius: 30px;
    opacity: 0.75;
    color: white;
    border-width: 5px;
    border-color: grey;
    font-family: Arial, Helvetica, sans-serif;
} .prevViewButton:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgb(210, 0, 0);
} .prevViewButton:active {
    background-color: rgb(80, 228, 0);
    color: black;
}

#startButton, #explode {
    font-size: 20px;
    height: 80px;
    width: 250px;
    background-color: rgb(255, 25, 0);
    border-radius: 40px;
    opacity: 0.75;
    color: white;
    border-width: 5px;
    border-color: grey;
    font-family: Arial, Helvetica, sans-serif;
} #startButton:hover, #explode:hover {
    opacity: 1;
    cursor: pointer;
    background-color: rgb(255, 0, 0);
} #startButton:active, #explode:active {
    background-color: rgb(80, 228, 0);
    color: black;
}
